@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


<div class="text-center">
     <img class="img-fluid" width="270px" style="margin-top: 6vh; margin-bottom: 2vh; user-select: none;" src="img/LogoPrincipalRetangulo.png" alt="Logo" draggable="false">
</div>

<div class="BarraDePesquisa" id="openModalPesquisaBtn">
    <span style="color:#6c757d; padding: 7px;" class="material-symbols-outlined">
        search
    </span>
    <input type="text" id="searchInput" placeholder="Pesquisar Serviços">
    <span style="color:#6c757d; padding: 7px; display: none;" class="material-symbols-outlined" id="closeIcon" title="Limpar">
        close
    </span>
    <span style="color:#6c757d; padding: 7px;" class="material-symbols-outlined" title="Categorias">
        category
    </span>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const closeIcon = document.getElementById('closeIcon');

        function updateCloseIcon() {
            if (searchInput.value.trim() !== '') {
                closeIcon.style.display = 'inline-block';
            } else {
                closeIcon.style.display = 'none';
            }
        }

        searchInput.addEventListener('input', updateCloseIcon);
        searchInput.addEventListener('focus', updateCloseIcon);

        closeIcon.addEventListener('click', function () {
            searchInput.value = '';
            closeIcon.style.display = 'none';
        });
    });
</script>

<section style="margin-top: 2vh;" class="flex">
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus2">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
</section>
<section style="margin-bottom: 2vh" class="flex">
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div>
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus2">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>
    <div class="Cplus">
        <img class="categoria" src="img/cinza.png" alt="Cat">
        <p>Categoria</p>
    </div>

</section>

<section class="flexServicosDestaque">
    <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
    <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
    <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
    <div>
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
    <div class="SDestaque">
        <img class="ServicosDestaque" src="img/cinza.png" alt="Cat">
        <p>Descrição</p>
    </div>
</section>

<hr/>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-md-left text-center">
            <h1 style="background: linear-gradient(to right, #4CAF50, #2196F3); -webkit-background-clip: text; color: transparent;">Quer anunciar um serviço também?</h1>
            <button class="btn btn-success mt-3" style="background: linear-gradient(to right, #4CAF50, #2196F3); border-color: #4CAF50;" id="openModalBtn">Clique aqui</button>        
        </div>
        <div class="col-md-6 text-center">
            <img class="img-fluid mt-3" id="changingImage" style="max-height: 400px;" />
        </div>
    </div>
</div>

<hr/>

<!-- Modal Servico -->
<div class="modal fade custom-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro Usuário Premium</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Corpo do Modal -->
            <div class="modal-body">
                <!-- Formulário -->
                <form>
                    <div class="form-group">
                        <label for="nome">Seu Nome:</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <select class="form-control" id="categoria">
                            <!-- Categorias -->
                            <option value="categoria1">Categoria 1</option>
                            <option value="categoria2">Categoria 2</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Atende em domicílio?</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="atendimento" id="sim" value="sim">
                            <label class="form-check-label" for="sim">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="atendimento" id="nao" value="nao" checked>
                            <label class="form-check-label" for="nao">Não</label>
                        </div>
                    </div>

                    <div class="form-group" id="enderecoGroup" style="display: none;">
                        <label for="endereco">Endereço:</label>
                        <input type="text" class="form-control" id="endereco" placeholder="Digite seu endereço">
                    </div>

                    <div class="form-group">
                        <label for="fotos">Selecione 5 fotos:</label>
                        <input type="file" class="form-control-file" id="fotos" multiple>
                    </div>

                    <button type="button" class="btn btn-success">Confirmar</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal Localizacao -->
<div class="modal fade custom-modal" id="myModalPesquisa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informe sua cidade para descobrir<br /><span style="color:#4CAF50">serviços exclusivos</span> na sua região</h5>                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do modal -->
                <p>Informe sua localização:</p>
                <input type="text" id="inputLocalizacao" placeholder="Digite sua localização" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="obterLocalizacao()">Obter Localização</button>
            </div>
        </div>
    </div>
</div>
